DEMOS/Reply to Comments For My Posts - FUNCTION_ Cleanup Comments Table.json
{
  "name": "Reply to Comments For My Posts - FUNCTION: Cleanup Comments Table",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fnQmhCt38PUGUG8H",
          "mode": "list",
          "cachedResultName": "Comments Tracking - posts list",
          "cachedResultUrl": "/projects/4U6dyqlmaqiTDcyH/datatables/fnQmhCt38PUGUG8H"
        },
        "matchType": "allConditions",
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        160,
        928
      ],
      "id": "7a6a6067-89fc-47c2-a193-281ea7519415",
      "name": "get all posts from table1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        928
      ],
      "id": "de763167-674b-4727-bd76-cc373bff9855",
      "name": "Loop Over Items5"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "bf8a7681-e4a0-4dce-b1d2-7b9bda6e55df",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -80,
        928
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15y1YaY1Z6eZqo2X-HPizaPqD6yd0wcvRFIXG7B0xyvQ",
          "mode": "list",
          "cachedResultName": "Reply To Comments - of my Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15y1YaY1Z6eZqo2X-HPizaPqD6yd0wcvRFIXG7B0xyvQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts to Monitor",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15y1YaY1Z6eZqo2X-HPizaPqD6yd0wcvRFIXG7B0xyvQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Post URL",
              "lookupValue": "={{ $json.Post_ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        944
      ],
      "id": "b5bee45e-40e4-41e6-b144-4466675a61d2",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6hO4xH1L3ItSQtXQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e73a03a9-6f74-45d0-90f2-7f124ae116fe",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        944
      ],
      "id": "92023e5b-77ba-48bc-b691-63dd45178a2c",
      "name": "If the post was removed from Sheet"
    },
    {
      "parameters": {
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "value": "pFzkT72TrRwXcLYJ",
          "mode": "list",
          "cachedResultName": "Comments Tracking - comments list",
          "cachedResultUrl": "/projects/4U6dyqlmaqiTDcyH/datatables/pFzkT72TrRwXcLYJ"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Post_ID",
              "keyValue": "={{ $('Loop Over Items5').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1312,
        928
      ],
      "id": "26a63fab-47e5-4e03-9c3a-187d85df361d",
      "name": "Delete row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "get all posts from table1": {
      "main": [
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items5": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "get all posts from table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If the post was removed from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If the post was removed from Sheet": {
      "main": [
        [
          {
            "node": "Delete row(s)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete row(s)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa827702-b7ab-4b42-8621-d3cc9b2aeeeb",
  "meta": {
    "instanceId": "a8857fe3bb042a7e3e59271e27b02da0b59a8affaaa1bbc373002233658b61cf"
  },
  "id": "hGrTodI88LmTYTzy",
  "tags": []
}